p{
    color: red;
    

}

#p2{
    color: blue;
}
#p3{
    color: rgb(12, 97, 83);
    margin-left: 50%;
    margin-top: -20%;
    font-style: italic;
}

.head1{
    color: rgb(160, 7, 17);
    font-style: italic;
}
img{
    
    width: 530px;
    height: 510px;
}
#img2{
    width: 230px;
    height: 210px;
}
#KL{
    margin-left: 50%;
    margin-top: -30%;
    font-size: 25px;
    background-color: blueviolet;
}
